.container {
  display: grid;
  grid-template-columns: 7fr 1fr;
  gap: 30px;
  justify-content: center;
}

.modals {
  display: flex;
  margin: 0 auto;
  max-width: 800px;
  gap: 10px;
  margin-top: 10px;
}

.modals main {
  width: 400px;
  gap: 10px;
  border-radius: 10px;
  /* margin: 0 auto; */
  background-color: #495057;
  padding: 10px 20px;
}

h3 {
  color: #e9ecef;
}

.btns {
  justify-content: center;
  display: flex;
  gap: 10px;
  margin: 10px;
}

.modals input {
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 5px;
  background-color: #868e96;
  color: #e9ecef;
}
